@using Blog.BLL.BusinessModels.Requests.UsersRequests;
@model UpdateUserRequest

<div class="container-page">
    <h2 class="title-margin">Редактирование пользователя</h2>
    <form method="post" asp-controller="User" asp-action="Update">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div style="margin-bottom: 5px">
            <label asp-for="FirstName"></label><br />
            <input class="form-control" asp-for="FirstName" value="@Model.FirstName" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
            <input class="form-control" asp-for="UserId" value="@Model.UserId" hidden />
        </div>
        <div style="margin-bottom: 5px">
            <label asp-for="LastName"></label><br />
            <input class="form-control" asp-for="LastName" value="@Model.LastName" />
            <span asp-validation-for="LastName" class="text-danger"></span>
            <input class="form-control" asp-for="UserId" value="@Model.UserId" hidden />
        </div>
        <div style="margin-bottom: 5px">
            <label asp-for="Email"></label><br />
            <input class="form-control" asp-for="Email" value="@Model.Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
            <input class="form-control" asp-for="UserId" value="@Model.UserId" hidden />
        </div>
        <div style="margin-bottom: 5px">
            <label asp-for="Password"></label><br />
            <input class="form-control" asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
            <input class="form-control" asp-for="UserId" value="@Model.UserId" hidden />
        </div>
        <div>
            <input class="btn btn-sm btn-primary" type="submit" value="Сохранить" />
        </div>
        <p>
            <a method="get" asp-controller="User" asp-action="GetAll">Перейти к списку всех пользователей </a>
        </p>
    </form>
</div>

